@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Employee Details";
}

<h2 class="mb-3">Employee Details</h2>

<label>Name: @Model.Name</label><br/>
<label>DOB: @Model.DOB</label><br/>
<label>Email Address: @Model.EmailAddress</label><br/>
<label>Home Address: @Model.HomeAddress</label>